dep/GLAD/include/glad
dep/GLAD/include/KHR
dep/GLAD/src
dep/GLM/include/glm
dep/libpng/include/*.h
dep/libpng/lib/x86/*.lib
dep/libpng/lib/x86/*.pdb
dep/libpng/lib/x64/*.lib
dep/libpng/lib/x64/*.pdb
dep/Ogg/include/ogg/*.h
dep/Ogg/include/vorbis/*.h
dep/Ogg/lib/x86/*.lib
dep/Ogg/lib/x86/*.pdb
dep/Ogg/lib/x64/*.lib
dep/Ogg/lib/x64/*.pdb
dep/SDL2/include/*.h
dep/SDL2/include/*.in
dep/SDL2/include/*.cmake
dep/SDL2/include/*.orig
dep/SDL2/lib/x86/*.lib
dep/SDL2/lib/x86/*.pdb
dep/SDL2/lib/x86/*.dll
dep/SDL2/lib/x64/*.lib
dep/SDL2/lib/x64/*.pdb
dep/SDL2/lib/x64/*.dll
.win32/.vs
.win32/out
.win32/Violet-Engine-Test-Win32/out/.obj
.win32/Violet-Engine-Test-Win32/out/x86/Debug/Violet-Engine-Test-Win32.*
.win32/Violet-Engine-Test-Win32/out/x86/Debug/*.dll
.win32/Violet-Engine-Test-Win32/out/x86/Release/Violet-Engine-Test-Win32.*
.win32/Violet-Engine-Test-Win32/out/x86/Release/*.dll
.win32/Violet-Engine-Test-Win32/out/x64/Debug/Violet-Engine-Test-Win32.*
.win32/Violet-Engine-Test-Win32/out/x64/Debug/*.dll
.win32/Violet-Engine-Test-Win32/out/x64/Release/Violet-Engine-Test-Win32.*
.win32/Violet-Engine-Test-Win32/out/x64/Release/*.dll